
.content {
}

.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 56px auto 0;
    padding: 0;
    width: calc(100% - 2 * 148px);
}

@media screen and (max-width: 1024px) {
    .lead {
        margin: 48px auto 0;
        width: calc(100% - 2 * 48px);
    }
}

@media screen and (max-width: 768px) {
    .lead {
        width: 100%;
    }
}

.lead__title {
    max-width: 720px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.05;
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 320px) {
    .lead__title {
        max-width: 288px;
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 1.1;
    }
}

.lead__subtitle {
    max-width: 640px;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    margin: 32px auto 0;
    padding:0;
    font-style: normal;
    font-weight: 400;
}

.lead__image {
    max-width: 100%;
    margin: 64px auto 0;
}

.lead__caption {
    width: 158px;
    height: 14px;
    padding-top: 8px;
    margin: 0;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    align-self: flex-start;
    white-space: nowrap;
}

.intro {
    max-width: 690px;
    margin: 92px 0 0 148px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.intro__title {
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.intro__text {
    padding-top: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    font-style: normal;
    
}

.intro__list {
    list-style: none;
    padding-left: 0;
    padding-top: 33px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    font-style: normal;
    align-items: flex-start;
}

.places {
    display: flex;
    flex-direction: column;
    width: calc(100% - 2 * 148px);
    margin: 92px auto 0;
}

.place {
    display: grid;
    grid-template-columns: 460px 484px;
    gap: 48px 40px;
    padding-bottom: 80px;
}

.place__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    margin: 0;
}

.place__image {
    max-width: 100%;
}

.place__website {
    align-self: end;
    margin: 0;
}

.place__url-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.2em;
    padding-bottom: 12px;
    margin: 0;
}

.place__link {
    color: #FFFFFF;
    transition: opacity .8s;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    margin: 0;
}

.place__link:hover {
    opacity: .6;
}

.place__paragraph {
    margin: 0;
    padding-bottom: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
}

.cover {
    margin: 0 48px;
}

.cover__background {
    z-index: 1;
    color: #FFFFFF;
    position: relative;
    min-height: 740px;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    transition: opacity .8s;
    background-image: url(./images/cover-trains.jpg);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cover__background::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #2A2C2F;
    opacity: .3;
    z-index: -1;
    transition: opacity 0.5s ease-in-out;
}

.cover__background:hover::before {
    opacity: .6;
}

.cover__title {
    text-align: center;
    max-width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    margin: 0;
}

.cover__subtitle {
    max-width: 360px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    margin: 0;
}

.footer {
    max-width: calc(100% - 2 * 48px);
    display: flex;
    justify-content: space-between;
    margin: 92px auto 24px;
}

.footer__link {
    text-decoration: none;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.12;
    margin: 0;
    padding-right: 18px;
    transition: opacity .8s;
}
  
.footer__link:hover {
    opacity: .6;
}

.footer__copyright {
    align-items: flex-end;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14px;
}